.App {
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 30%;
  margin: auto;
}

.App input {
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #e5e2e2;
  margin-bottom: 20px;
}

.App input:focus {
  outline: none;
  box-shadow: none;
}

.App button {
  padding: 12px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background: #dc1d75;
  color: #fff;
  font-weight: 600;
}